@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@typeparam TValue

@{
    var messages = CurrentEditContext.GetValidationMessages(_fieldIdentifier);

    if (messages.Count() == 0) {
        <div class="@ClassValue" style="@(StyleValue + "visibility: hidden")">
            <FluentIcon Value="@(new CoreIcons.Filled.Size12.ErrorCircle())" Color="@Color.Error" />
            <span>1</span>
        </div>
    }
    else {
        foreach (var message in messages) {
            <div class="@ClassValue" style="@StyleValue" @attributes=@AdditionalAttributes>
                <FluentIcon Value="@(new CoreIcons.Filled.Size12.ErrorCircle())" Color="@Color.Error" />
                <span>@message</span>
            </div>
        }
    }
}
